body {
    font-family: 'Big Shoulders Stencil', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}









nav {
    background-color: cadetblue;

}
nav ul{
    list-style-type: none;
    overflow: hidden;
}
nav a{
    display: block;
    color: aliceblue;
    text-align:center;
    padding: .5em;
    text-decoration: none;
    margin: 15px; ;

}
h1 {
    text-align: center;
}
nav li{
    text-align: center;
}
nav a:hover{
    background-color: rgb(13, 11, 11);
}
nav .active{
    background-color:rgb(0, 0,15,15);
}
header{
    background-color:cadetblue ;
    text-align: center;
}
header h1{
    text-align:center;
    color: #000;
}
h1{
    background-color:cadetblue ;
}
.card{
    background-color:#579fc3 ;
    height: 200px;
    width: 400px;
    justify-content:center;
    border: 1px solid cadetblue;
    border-radius: 10px;
    margin: 1rem;
    border-color: #161515;
    

}
.card h2{
    background-color:whitesmoke ;
    text-align:center;

}
.card p{
    align-items: center;
    padding:1rem;;
    margin:8px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    background-color:cadetblue  ;
    
    

}
footer{
    background-color:cadetblue ;
    height: 100px;
}
footer p{
    text-align:center;
    line-height: 1.6em;
    
}
h1, h2 {
    font-family: 'Big Shoulders Stencil', sans-serif;
    font-weight: 700; 
}

ul li a {
    color: rgb(244, 242, 242);
}
.card a{
    color: #161515;
}